.menu {
  list-style: none;
  display: flex;
}

.menu > li {
  padding: 0.5rem 1rem;
}
.menu a {
  text-decoration: none;
}

.button {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

.button:focus {
  outline: none;
}